<body>
  <div><form action="" method="post"><input type="submit"></form></div>
  <div class="super-container">
    <div class="container">
      <div>Oferta</div>
      <div>465468888888878854</div>
      <div>11509</div>
      <div>$</div>
      <div>60<sup style="text-decoration: underline;font-size: 18px;margin-left: 5px;">00</sup></div>
      <div>Galletitas 9 de Oro</div>
    </div>
    <div class="container">
      <div>Oferta</div>
      <div>465468888888878854</div>
      <div>11509</div>
      <div>$</div>
      <div>60<sup style="text-decoration: underline;font-size: 18px;margin-left: 5px;">00</sup></div>
      <div>Galletitas 9 de Oro</div>
    </div>
  </div>
</body>