@font-face {
  font-family: 'code128';
  src: url('fonts/code128.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "barcode39"; */
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.super-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid violet;
}

.super-container div.container {
  /* border: 2px solid grey; */
  margin: 2px;
}

/* .container:nth-of-type(1) {
  background-color: yellow;
  grid-column: 2 / 3;
  grid-row: 1;
}

.container:nth-of-type(2) {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1;
} */

.container {
  display: grid;
  /* grid-template-rows: repeat(3, 50px); */
  grid-template-rows: 48px 52px 50px;
  /* grid-template-columns: repeat(4, 90px); */
  grid-template-columns: 60px 80px 32px 148px;
  border: 3px solid rgb(54, 51, 51);
}

.container div:nth-of-type(1) {
  background-color: aqua;
  grid-column: 1 / 3;
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  /* padding-top: 10px;
  padding-left: 10px; */
  /* align-items: center; */
}

.container div:nth-of-type(2) {
  background-color: blueviolet;
  grid-column: 3 / 5;
  font-family: 'code128', serif;
  font-size: 42px;
  /* height: auto; */
  padding-top: 5px;
  padding-left: 20px;
}

.container div:nth-of-type(3) {
  background-color: brown;
  grid-column: 1 / 3;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 18px;
}

.container div:nth-of-type(4) {
  background-color: rgb(210, 30, 39);
  grid-column: 3 / 3;
  font-size: 33px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 5px;
  width: auto;
}

.container div:nth-of-type(5) {
  background-color: tomato;
  width: auto;
  display: flex;
  /* overflow: hidden; */
  grid-column: 4 / 5;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
}

.container div:nth-of-type(6) {
  background-color: green;
  grid-column: 1 / 5;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

span {
  font-size: 25px;
  padding-top: 7px;
  padding-left: 10px;
  text-decoration: underline;
  text-align: right;
  /* width: 40px; */
}
